.SearchResults >.Search{
    position: absolute;
    left:2%;
    top:-40%;
}
.SearchResults>.grid-container{
    position: absolute;
    top: 50%;
    left: 15%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
#footer{
    position:absolute;
    top:400%;
    width:100%;

}  
.SearchResults>.grid-item{
  padding: 20px;
  text-align: center;
}  