@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Outfit", sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 81px;
    padding: 0 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3{
    position: absolute;
width: 151px;
height: 25px;
left: calc(50% - 151px/2 - 448.5px);
top: 28px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #975C2F;
}
#Inscription{
    position: absolute;
    width: 92px;
    height: 25px;
    left: calc(50% - 92px/2 + 117px);
    top: 28px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
    }
    #Connexion{
        /* connexion */
    
    
    position: absolute;
    width: 94px;
    height: 25px;
    left: calc(50% - 94px/2 + 239px);
    top: 28px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
    }
    
    nav a{
        margin: 0 2rem;
        text-decoration: none;
    }