@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    /* border: black solid; */
  }

:root {
    --font-outfit: "Outfit", sans-serif;
    --font-roboto: "Roboto", sans-serif;
  }

  body {
    font-family: var(--font-outfit);
    background-image: url("./images/Background circles.svg");
    background-size: cover;
    margin: 0px;
    margin: 0px;
    min-height: 100vh;
    display:flex; 
    flex-direction:column;
  }

.large-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 1080px ;
    /* height: 1200px ; */
    background: rgba(255, 255, 255 , .15);
    opacity: .0.15;
    /* border: solid black ; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form{
    width: 1080px ;
    /* height: 1200px ; */
    border: solid rgba(255, 255, 255 , .15);
}
.sub-container{
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255 , .25);
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    margin-top: 25px;
    margin-bottom: 25px;
}
.button-form-section{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.button-form{
    text-align: center;
    width: 140px;
    height: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: white;
    font-family: var(--font-outfit);
    font-weight: 300;
    font-size: 18px;
    opacity: 29%;
}

.button-form-on-click{
    text-align: center;
    width: 140px;
    height: 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #003251;
    font-family: var(--font-outfit);
    font-weight: 300;
    font-size: 18px;
    color: white;
}

.sub-container-entete{
    border-bottom: solid #975C2F 1px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 5px;
    width: 95%;
}
.sub-container-entete-label {
    font-family: var(--font-outfit);
    font-weight: 400;
    font-size: 13px;
    /* border: solid red; */
}
.sub-container-entete > span{
    font-family: var(--font-outfit);
    font-weight: 500;
    font-size: 13px;
    color: #003251;
}

.type-du-bien-section{
        padding: 20px;
        justify-content: space-between;
        position: relative;
}
#type-du-bien-select {
    font-family: var(--font-outfit);
    font-size: 15px;
    font-weight: 300;
    width: 518px;
    height: 31px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.surface-section{
    padding: 20px; 

}
.surface-section >input{
    width: 235px;
    height: 25px;
    font-weight: 400;
    font-size: 15px;
    font-family: var(--font-outfit);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding-right:20px; 

}
.surface-section > span{
    margin-left:-25px;
    font-size: 13px;
    font-weight: 300;
}
span > sup{
    font-size: 10px ;
}
.prix-section{
    padding: 20px; 
}
.prix-section > input{
    width: 235px;
    height: 25px;
    font-weight: 400;
    font-size: 15px;
    font-family: var(--font-outfit);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding-right:20px; 

}
.prix-section > span{
    font-weight: 300;
    margin-left:-27px;
    font-size: 13px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.location-section{
    padding-left: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    padding-top: 10px; 
}
.location-form-1-champ-section > * {
    /* border: solid black; */
}
.location-form-1-champ-section > label{
    display: block; 
    width: 100px; 
    margin-bottom: 3px;
    margin-top: 10px;
    margin-left: 3px;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-outfit);
}
.location-form-1-champ-section > input {
        height: 25px;
        width: 518px;
        font-weight: 300;
        font-size: 15px;
        font-family: var(--font-outfit);
        background: rgba(255, 255, 255, 0.3);
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        padding-right:20px; 
}
.location-form-1-champ-section > select{
    font-family: var(--font-outfit);
    font-size: 15px;
    font-weight: 300;
    width: 518px;
    height: 31px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}

.description-section{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description-area{
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}
.continuer{
    font-family: var(--font-outfit);
    font-size: 15px;
    margin-top: 10px;
    position:relative;
    left:80%;
    color: white;
    background: #003251;
    border-radius: 3px;
    border: 1px solid #003251;
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
}
.loading{
    margin-top: 50px;
    /* border: solid black; */
height: 50px;
display: flex;
align-items: center;
}
.rectangle{
    border: 1px solid #003251;
    height: 2px;
    width: 30%;
    background: #003251;
}
.circle1{
    border-radius: 100%;
    background: #003251;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.numero1{
    color: white;
    font-size: 26px;
    font-weight: 300;
    /* border: solid black 1px; */
    text-align: center;
    position: relative;
    top: 9px;
}
.circle-text1{
    font-style: normal;
font-weight: 400;
font-size: 15px;
color: #003251;
width: 185px;
height: 19px;
/* border: solid black; */
position: relative;
top: 20px;
}
.circle2{
    border-radius: 100%;
    background: rgba(0, 0, 0, 0);
    width: 47px;
    height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #003251 solid 2px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.numero2{
    color: rgba(0, 0, 0, 0.33);    
    font-size: 26px;
    font-weight: 300;
    /* border: solid black 1px; */
    text-align: center;
    position: relative;
    top: 9px;
}
.circle-text2{
    font-style: normal;
font-weight: 400;
font-size: 15px;
color: rgba(0, 0, 0, 0.33);
width: 159px;
height: 19px;
/* border: solid black; */
position: relative;
top: 20px;
}
.rectangle2{
    border: 1px solid #003251;
    height: 2px;
    width: 31.1%;
    background: #003251;
}
.circle3{
    border-radius: 100%;
    border: #003251 2px solid;
    background: rgba(0, 0, 0, 0);
    width: 47px;
    height: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #003251 solid 2px;
    position: relative;
}
.circle-text3{
    font-style: normal;
font-weight: 400;
font-size: 15px;
color: #003251;
width: 159px;
height: 19px;
/* border: solid black; */
position: relative;
top: 20px;
}

.large-container-image{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 95%;
    min-height: 380px;
    /* height: 1200px ; */
    background: rgba(255, 255, 255 , .15);
    opacity: .0.15;
    /* border: solid black ; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-image{
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}
.image-container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid black; */
}

.image-container{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23003251FF' stroke-width='1.5' stroke-dasharray='6%2c8' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");    
    background-color: rgba(0, 50, 81, 0.15);
    font-weight: 300;
    font-size: 15px;
    font-family: var(--font-outfit);
    margin-top: 10px;
}
.image-container > div{
    margin-top: 30px;
    margin-bottom: 10px;
    /* border: solid black; */
    width: 450px;
    height: 100px;
}

.dropzone-content{
    width: 450px;
    height: 100px;
}

.file-list {
    /* border: 3px dotted black; */
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 3px dotted black; */
    margin-top: 20px;
    margin-bottom: 30px;
    /* border: solid black; */
    width: 100%;
}
.image-view{
    margin: 10px;
    width: 215px;
    height: 200px;
}

.image-view > img {
    border: solid #E2E2E2 1px;
    border-radius: 3px;
    width:100%;
    height:80%;
    object-fit:cover;
    cursor: pointer;
}
.image-position{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid black; */
}
.image-position-delete{
    cursor: pointer;
}
.image-position-delete > img {
    height: 22px;
    width: 22px;
    margin-left: 10px;
}
